{% load static %}
<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{% static 'css/main.css' %}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <h1>{{name}}</h3>
    <br>
    
    <div>
        
    </div>

    <div class="matches">
        <h3>{{round.name}}</h3>
        <br>

        <table>
            {% for match in round.matches %}
                <tr class="matchInfos">
                    <td>{{match.matchDate}}</td>
                    <td>{{match.stadium}}</td>
                    <td>{{match.matchHour}}</td>
                </tr>
                <tr class="matchResults">
                    <td>
                        <svg width="40" height="40">
                            <image xlink:href="{{match.homeLogo}}" width="40" height="40"/>  
                        </svg> 
                    </td>
                    <td> X </td>
                    <td>
                        <svg width="40" height="40">
                            <image xlink:href="{{match.awayLogo}}" width="40" height="40"/>  
                        </svg> 
                    </td>
                </tr>   
            {% endfor %}
        </table>
    </div>

    <button type="submit" onclick="location.href='/signout'">Sign Out</button>
</body>
</html>