{% load static %}
<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{% static 'css/main.css' %}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <h1>{{name}}</h3>
    <br>
    
    <div class="content">
        <div class="championshipDiv">
            <table class="championshipTable">
                <tr>
                    <th></th>
                    <th>Team</th>
                    <th>P</th>
                    <th>G</th>
                    <th>W</th>
                    <th>L</th>
                    <th>D</th>
                    <th>+</th>
                    <th>-</th>
                    <th>+/-</th>
                    <th>%</th>
                    <th>Last Games</th>
                </tr>
                {% for team in table %}
                    <tr class="teamsRow">
                        <td>{{team.position}}</td>
                        <td>{{team.name}}</td>
                        <td>{{team.points}}</td>
                        <td>{{team.games}}</td>
                        <td>{{team.wins}}</td>
                        <td>{{team.loses}}</td>
                        <td>{{team.draws}}</td>
                        <td>{{team.scoresGiven}}</td>
                        <td>{{team.scoresTaken}}</td>
                        <td>{{team.scores}}</td>
                        <td>{{team.percentage}}%</td>
                        <td>
                            {% for lastGame in team.lastGames %}
                                {% if lastGame == 'W' %}
                                    <span class="dotGreen"></span>
                                {% elif lastGame == 'L' %}
                                    <span class="dotRed"></span>
                                {% else %}
                                    <span class="dotGrey"></span>
                                {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>

        <div class="matches">
            <div class="matchesHeader">
                <form enctype='multipart-form-data' action="/insights/dashboard" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="round" value="{{roundNumber}}" />
                    <input type="hidden" name="name" value="{{name}}" />
                    <input type="hidden" name="table" value="{{table}}" />
                    <input type="hidden" name="previous" value="true" />
                    <button type="submit" class="previousRound"><</button>
                </form>
                <h3>{{round.name}}</h3>
                <form class="nextRoundForm" enctype='multipart-form-data' action="/insights/dashboard" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="round" value="{{roundNumber}}" />
                    <input type="hidden" name="name" value="{{name}}" />
                    <input type="hidden" name="table" value="{{table}}" />
                    <input type="hidden" name="next" value="true" />
                    <button type="submit" class="nextRound">></button>
                </form>
            </div>

            {% for match in round.matches %}
                <div class="matchesContainer">
                    <div class="matchInfos">
                        <div>{{match.matchDate}}</div>
                        <div>{{match.stadium}}</div>
                        <div>{{match.matchHour}}</div>
                    </div>
                    <div class="matchResults">
                        <div class="teamLogo">
                            <svg width="40" height="40">
                                <image xlink:href="{{match.homeLogo}}" width="40" height="40"/>  
                            </svg> 
                        </div>
                        <div>
                            {% if match.homeScore is not None %}
                                <h2>{{match.homeScore}}</h2>
                            {% endif %}
                        </div>
                        <div>
                            <h2>X</h2>
                        </div>
                        <div>
                            {% if match.homeScore is not None %}
                                <h2>{{match.awayScore}}</h2>
                            {% endif %}
                        </div>
                        <div class="teamLogo">
                            <svg width="40" height="40">
                                <image xlink:href="{{match.awayLogo}}" width="40" height="40"/>  
                            </svg>
                        </div>
                    </div>
                </div>  
            {% endfor %}
        </div>
    </div>

    <button type="submit" onclick="location.href='/signout'">Sign Out</button>
</body>
</html>