{% load static %}
<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="{% static 'css/signin.css' %}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Round Insight</title>
</head>
<body>
    <div class="container">
        <div class="child">
            <p>Sign in</p>
            
            <form action="/signin" method="post">
                {% csrf_token %}
                <input type="text" id="username" name="username" placeholder="Enter your username" required="true">
                <br>
    
                <input type="password" id="pass1" name="pass1" placeholder="Enter your password" required="true">
                <br>
    
                <button type="submit">Sign In</button>
            </form>
        </div>
    </div>

</body>
</html>